* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.tabs__content {
    font-size: 20px;
}

.tabs__content img {
    float: left;
    margin: 0 10px 10px 1px;
    border: 5px solid white;
    box-shadow: 0 0 1px #00CC66;
}

.form fieldset {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form__input {
    margin: 10px;
}

.form__hint {
    display: inline-block;
    padding: 2px 5px;
    background: #DCFFCC;
    box-shadow: 0 0 2px #00CC66;
    border-radius: 5px;
    margin: 6px;
    position: absolute;
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 800px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 2px #00CC66;
}

.jcarousel-prev {
    left: -50px;
}

.jcarousel-next {
    right: -50px;
}

.tabs{
    display:inline-block;
}

.tabs__content {
    height: 170px;
    overflow: auto;
}

.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin-top: 20px;
    padding: 0;
    border-bottom: 5px solid #00CC66;
    font-size: 0;
}

.tabs__link{
    margin:0 5px 0 0;
    font-size: 16px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    border-radius: 5px 5px 0 0;
    background: #DCFFCC;
    border: 1px solid #00EE77;
    border-bottom: none;
    color:#003300;
    text-decoration: none;
}

.tabs ul li {
    display: inline-block;
    list-style: none;
}

.tabs__link:hover {
    background:#BBFF99;
}

.tabs__link.active {
    background:#00CC66;
}

.menu {
    width: 100%;
    background-color: #ff6464;
}

.menu li {
    display: inline-block;
    list-style: none;
}

.menu_item {
    display: inline-block;
    position: relative;
    position: relative;
}

.menu_item>a {
    display: block;
    padding: 20px 30px;
    color: white;
    text-decoration: none;

}

.expanded:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 22px;
    border: 6px solid transparent;
    border-left: 12px solid white;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #e14b4b;
    z-index: 2;
}

.submenu_item:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 15px;
    border: 6px solid transparent;
    border-left: 12px solid white;
}

.submenu>li {
    padding: 0px 10px;
}

.submenu>li>a {
    display: block;
    padding: 10px 0px;
    width: 150px;
    border-bottom: 1px solid #c83232;
    color: white;
    text-decoration: none;
}

.submenu_item {
    position: relative;
}

.submenu_item>.submenu {
    position: absolute;
    top: 0px;
    left: 170px;
}

.select-and-checkbox {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.my-select, .checkboxes, .css_checkboxes {
    display: inline-block;
    vertical-align: top;
}

.my-select {
    width: 300px;
}

h3 {
    text-align: center;
    color: green;
}

/*jQuery checkboxes*/
.checkboxes {
    margin-left: 5px;
}

.checkboxes label {
    display: block;
    margin: 10px;
}

/* iCheck plugin Square skin, red
----------------------------------- */
.icheckbox_square-red,
.iradio_square-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 5px;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(img/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-red {
    background-position: 0 0;
}
.icheckbox_square-red.hover {
    background-position: -24px 0;
}
.icheckbox_square-red.checked {
    background-position: -48px 0;
}
.icheckbox_square-red.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-red.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-red {
    background-position: -120px 0;
}
.iradio_square-red.hover {
    background-position: -144px 0;
}
.iradio_square-red.checked {
    background-position: -168px 0;
}
.iradio_square-red.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-red.checked.disabled {
    background-position: -216px 0;
}


/*CSS checkboxes*/
.css_checkboxes {
    margin-left: 10px;
}

.css_checkboxes input {
    display: none;
}

.css_checkboxes label {
    display: block;
    margin: 10px;
}

.css_checkboxes input+span {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 31px;
    height: 31px;
    background: url(img/polaris.png) 0 0 no-repeat;
    cursor: pointer;
}

.css_checkboxes input[type="checkbox"]:checked + span {
    background-position: -62px 0;
}

.css_checkboxes input[type="checkbox"]:disabled + span {
    background-position: -93px 0;
}

.css_checkboxes span:hover {
    background-position: -31px 0;
}

